## Data Preprocessing Template

## Importing the dataset

In [2]:
dataset = read.csv('Data/Data.csv')
dataset

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
6  France  35  58000  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
9  Germany 50  83000  No
10 France  37  67000  Yes

## Splitting the dataset into the Training set and Test set

In [ ]:
# install.packages('caTools')

In [13]:
# library and require load and attach add-on packages.
library(caTools)
set.seed(123)
# Split data from vector Y into two sets in predefined ratio while preserving relative ratios of different labels in Y.
split = sample.split(dataset$Purchased, SplitRatio=0.8)
# Return subsets of vectors, matrices or data frames which meet conditions.
training_set = subset(dataset, split==TRUE)
test_set = subset(dataset, split==FALSE)

In [14]:
training_set

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
10 France  37  67000  Yes

In [15]:
test_set

  Country Age Salary Purchased
6 France  35  58000  Yes
9 Germany 50  83000  No